---
import Card from '../components/card.astro'
---
<section class="bg-newspaper-light dark:bg-newspaper-dark p-6 shadow-lg shadow-black select-none h-custom w-custom">
    <div class="grid grid-rows-2 grid-cols-3">
        <article class="m-2 col-span-2 col-start-1 row-start-1 row-span-2">
            <Card>
                <img slot="img" src="src/assets/music.jpeg" alt="music">
            </Card>
        </article>
        <article class="m-2 col-span-2 col-start-3 row-start-1 row-span-2">
            <Card subtitle="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, amet?"/>
        </article>
    </div>
    <article class="m-2">
        <Card/>
    </article>
    <div class="grid grid-rows-1 grid-cols-3" >
        <article class="m-2 col-span-1 col-start-1 row-start-1 row-span-1">
            <Card />
        </article>
        <article class="m-2 col-span-1 col-start-2 row-start-1 row-span-1">
            <Card />
        </article>
        <article class="m-2 col-span-1 col-start-3 row-start-1 row-span-1">
            <Card />
        </article>
    </div>
    <p class="text-xs absolute bottom-2 right-3"><slot/></p>
</section>