---
import Card from "../components/card.astro";
---

<section class="bg-newspaper-light dark:bg-newspaper-dark p-6 shadow-lg shadow-black select-none h-custom w-custom">
    <div class="grid grid-rows-2 grid-cols-4">
        <article class="m-2 col-span-1 col-start-1 row-start-1 row-span-2">
            <Card />
        </article>
        <article class="m-2 col-span-2 col-start-2 row-start-1 row-span-2">
            <Card subtitle="Lorem ipsum dolor sit, amet consectetur adipisicing elit." descripcion="Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex laborum, aperiam recusandae voluptatem dicta optio, vitae nulla nobis reiciendis voluptatum labore">
                <img slot="img" class="m-auto w-max h-auto py-1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYbJ7WoxZswwEbYas8jb-HdRZk2uzJy_2G293zPn7Snsd0GB7DLCwrQSB7zwaDZ_V5aX8&usqp=CAU"/>
            </Card>
        </article>
        <article class="m-2 col-span-1 col-start-4 row-start-1 row-span-2">
            <Card />
        </article>
    </div>
    <div class="grid grid-cols-4 grid-rows-2">
        <article class="m-2 col-start-1 row-start-1 row-span-2">
            <Card descripcion="Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt consequuntur cupiditate fuga temporibus, quibusdam adipisci exercitationem porro hic facilis quis magni dolore doloribus aspernatur saepe eveniet ipsa facere odio ratione? Officia, quidem deleniti aliquid, animi voluptatem quod"/>
        </article>
        <article class="m-2 col-start-2 row-start-1 col-span-2 row-span-2">
            <Card subtitle="Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt consequuntur cupiditate fuga temporibus, quibusdam adipisci exercitationem porro" descripcion="Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt consequuntur cupiditate fuga temporibus, quibusdam adipisci exercitationem porro hic facilis quis magni dolore doloribus aspernatur saepe eveniet ipsa facere odio ratione? Officia, quidem deleniti aliquid, animi voluptatem quod mollitia fuga cupiditate beatae omnis, doloremque nemo quas illum natus? Consequuntur, atque nostrum. Ex, cum architecto quibusdam eos"/>
        </article>
        <article class="m-2 col-start-4 row-start-1 col-span-2 row-span-2">
            <Card descripcion="Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt consequuntur cupiditate fuga temporibus, quibusdam adipisci exercitationem porro hic facilis quis magni dolore doloribus aspernatur saepe eveniet ipsa facere odio ratione? Officia, quidem deleniti aliquid, animi voluptatem quod"/>
        </article>
    </div>
    <p class="text-xs absolute bottom-2 right-3"><slot/></p>
</section>
